services:
  - type: web
    name: chatbot-rh-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: GROQ_API_KEY
        sync: false
      - key: PORT
        value: 3001